<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Store Administration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
    <script src="/scripts/admin.js" defer></script>
</head>
<body>
    <h1>Farm Store Administration</h1>
    <p><a href="/admin/cust">View Customers</a></p>
    <p><a href="/admin/product">View Products</a></p>
    <p><a href="/admin/newFarm">Create Farm</a></p>
</body>
</html>