<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/adminHead') %>
    <script src="/scripts/loginAdmin.js" defer></script>
    <title>Farm2Table Administration</title>
</head>
<body>
    <%- include('partials/adminHeader') %>
    <%- //include('partials/adminNav') %>
    <article class="body__article-details black-text-shadow">
        <h1>AUTHENTICATE</h1>
        <section id="section__login">
            <form action="/admin/login" method="POST">
                <input id="input__username" type="text" name="username" placeholder="username" required>
                <input id="input__password" type="password" name="password" placeholder="password" required>
                <div id="button__login">
                    <button class="btn-med" type="submit">Login</button>
                </div>
            </form>
        </section>
    </article>
    <%- include('partials/adminFooter') %>
</body>
</html>