<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/adminHead') %>
</head>
<body>
    <%- include('partials/adminHeader') %>
    <%- include('partials/adminNav') %>
    Trial page
    <footer>

    </footer>
</body>
</html>
