
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
  <link rel="stylesheet" href="/styles/sub-form.css">
  <script src="/scripts/signout.js" defer></script>
  <title>Sign in</title>
</head>
<body>
  <%- include('../../header') %>
  <h1>Sign in</h1>
  <div class="container">
    <form action="/login" method="POST">
      <p>Welcome back!</p>
      <label for="email">Email :</label>
      <input name="email" type="text" placeholder="Email" required>
      <br>
      <label for="password">Password :</label>
      <input name="password" type="password" placeholder="password" required>
      <br>
      <small>Don't have an account? Click <a href="/register">here</a> to sign up!</small>
      <br>
      <button type="submit">Sign in</button>
    </form>
  </div>
  <%= invalid.email %>
  <%= invalid.invalid %> 
  <%- include('../../footer') %>
</html>