<%- include('../../head') %>
<title>Thank you for registering</title>
</head>
<body>
  <%- include('../../header') %>
  <h2>Thank you for registering!</h2>
  <p>Please click <a href="/login">here</a> to sign in.</p>
  <%- include('../../footer') %>
</body>

</html>