<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
</head>
<body>
   <h1>Hi there!  What an unexpected surprise.  We were not expecting you.</h1>
   <!-- <a href="https://imgur.com/S2GUI6w"><img src="https://i.imgur.com/S2GUI6w.gif" title="source: imgur.com" /></a> -->
   <a href="https://imgur.com/Ur03mbE"><img src="https://i.imgur.com/Ur03mbE.gif" title="source: imgur.com" /></a>
   <a href="/">Return Home</a>
   <h4>404: Page Not Found</h4>
</body>
</html>