<!-- footer -->
<footer>
  <p>Farm ~2~ Table &copy; 2020</p>
  <nav class="nav__footer-main">
    <a href="/">Home</a> |
    <a href="/products"> Products</a> |
    <a href="/about"> About</a> |
    <a href="/subscribe"> Subscribe</a>
  </nav>
  <p>Created by: Michelle Tran & Jeff Jackson @ GA</p>
</footer> 