  <!-- footer -->
  <!-- <div class="footer"> -->
    <footer>
      <nav>
        <a href="/">Home</a> |
        <a href="/products">Products</a> |
        <a href="/about">About</a> |
        <a href="/subscribe">Subscribe</a> |
        <a href="/cart">Cart</a> |
        <!-- <a href="/login">Sign in</a> -->
        <p>&copy; 2020</p>
      </nav>
    </footer>

  <!-- </div> -->