  <!-- footer -->
    <footer>
      <nav>
        <a href="/">Home</a> |
        <a href="/products"> Products</a> |
        <a href="/about"> About</a> |
        <a href="/subscribe"> Subscribe</a>
        <p>&copy; 2020 Jeff Jackson & Michelle Tran sei-11</p>
      </nav>
    </footer>
