  <!-- footer -->
    <footer>
      <nav>
        <a href="/">Home</a> |
        <a href="/products">Products</a> |
        <a href="/about">About</a> |
        <a href="/subscribe">Subscribe</a> |
        <a href="/cart">Cart</a> 
        <!-- TODO: TAKE OUT ADMIN -->
        <a href="/admin">Admin</a>
        <p>&copy; 2020 Jeff Jackson & Michelle Tran sei-11</p>
      </nav>
    </footer>
