<!-- header -->
<header>
  <!-- <div class="header"> -->
  <!-- <a class="logo" href="/"><i class="fas fa-lemon"></i></a> -->
  <nav>
    <a href="/">Home</a> |
    <a href="/products">Products</a> |
    <a href="/about">About</a> |
    <a href="/subscribe">Subscribe</a> |
    <a href="/cart">Cart</a> |
    <a href="/login">Sign in</a> |
    <a href="/user">Profile</a> |
    <a href="/logout?_method=DELETE">Sign out</a>
  </nav>
  <!-- </div> -->
</header>