<header>
  <a class="logo" href="/"><i class="fas fa-tractor"></i> farm-2-table</a>
  <nav>
    <div class="nav"><a href="/">Home</a></div>
    <div class="nav"><a href="/products">Products</a></div>
    <div class="nav"><a href="/about">About</a> </div>
    <div class="nav"><a href="/subscribe">Subscribe</a> </div>
    <div class="nav"><a id="a__cart" href="/cart">Cart</a> </div>
    <div class="nav"><a id="sign-in" href="/login">Sign in</a> </div>
    <div class="nav"><a id="user-profile" href="/user">Profile</a> </div>
    <div class="nav"><a id="sign-out" href="/logout?_method=DELETE">Sign out</a></div>
  </nav>
</header>