<!-- header -->
<header>
  <!-- <div class="header"> -->
    <!-- <a class="logo" href="/"><i class="fas fa-lemon"></i></a> -->
    <nav>
      <a href="/">Home</a> |
      <a href="/products">Products</a> |
      <a href="/about">About</a> |
      <a href="/subscribe">Subscribe</a> |
      <a href="/cart">Cart</a> |
      <a href="/login">Sign in</a> |
      <a href="/user">Profile</a> |
      <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Sign out</button>
        <!-- <a href="/logout">Sign out</a>  -->
      </form>
    </nav>
  <!-- </div> -->
</header>
