<header>
  <a class="logo" href="/">
    <div class="header__logo">
      <p>Farm</p>
      <p>~ 2 ~</p>
      <p>Table</p>
  </div>
  </a>
  <i class="fas fa-tractor"></i>
  <nav class="header__nav">
    <div class="nav"><a href="/">Home</a></div>
    <div class="nav"><a href="/products">Products</a></div>
    <div class="nav"><a href="/about">About</a> </div>
    <div class="nav"><a href="/subscribe">Subscribe</a> </div>
    <div class="nav"><a id="a__cart" href="/cart">Cart</a> </div>
    <div class="nav"><a id="sign-in" href="/login">Sign in</a> </div>
    <div class="nav"><a id="user-profile" href="/user">Profile</a> </div>
    <div class="nav"><a id="sign-out" href="/logout?_method=DELETE">Sign out</a></div>
  </nav>
</header>