<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css">
  <script src="https://kit.fontawesome.com/557a3bdbd9.js"></script>


<header>
  <nav>
    <div class="nav"><a href="/">Home</a></div>
    <div class="nav"><a href="/products">Products</a></div> 
    <div class="nav"><a href="/about">About</a> </div>
    <div class="nav"><a href="/subscribe">Subscribe</a> </div>
    <div class="nav"><a id="a__cart" href="/cart">Cart</a> </div>
    <div class="nav"><a href="/login">Sign in</a> </div>
    <div class="nav"><a href="/user">Profile</a> </div>
    <div class="nav"><a href="/logout?_method=DELETE">Sign out</a></div>
  </nav>
</header>