<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/shoppingCart.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
  <script src="https://kit.fontawesome.com/557a3bdbd9.js" defer></script>
  <script src="/scripts/shoppingCart.js" defer></script>
  <script src="/scripts/cartLabel.js" defer></script>
  <script src="/scripts/signout.js" defer></script>
  <title>Cart</title>
</head>
<body>
  <%- include('../header') %>
  
  <section class="section__cart">
    <article class="article__cart-items">
      <table id="table__items">
        <tr>
          <th class="th__product"><p>Product</p></th>
          <th class="th__price">Price</th>
          <th class="th__qty">Qty</th>
          <th class="th__price">Total</th>
        </tr>
      </table>
    </article>
    <article class="article__cart-total">
      <hr>
      <div class="div__cart-total">
        <p>CART TOTAL</p>
        <input type="text" id="cart-total" value="$0.00">
        <div id="div__ship-handle">
          <p>Shipping & taxes calculated at checkout</p>
        </div>
      </div>
      <div class="div__checkout-btns">
        <button id="button__cart-checkout">Checkout</button>
        <button id="button__clear-cart">Clear Cart</button>
      </div>
    </article>
  </section>

  <%- include('../footer') %>
</body>
</html>