<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/shoppingCart.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
  <script src="https://kit.fontawesome.com/557a3bdbd9.js" defer></script>
  <script src="/scripts/shoppingCart.js" defer></script>
  <script src="/scripts/cartLabel.js" defer></script>
  <script src="/scripts/signout.js" defer></script>
  <title>Cart</title>
</head>
<body>
  <%- include('../header') %>
  
  <div class="container">
  <section class="section__cart">
    <article class="article__cart-items">
      <table id="table__items">
        <tr>
          <th class="th__product"><p>Product</p></th>
          <th class="th__price">Price</th>
          <th class="th__qty">Qty</th>
          <th class="th__price">Total</th>
        </tr>
      </table>
    </article>
    <article class="article__cart-total">
      <p id="user-name">Welcome: Guest please <a href="/login">sign in</a></p>
      <hr>
      <div class="div__cart-total">
        <p>CART TOTAL</p>
        <input type="text" id="cart-total" value="$0.00">
        <div id="div__ship-handle">
          <p>Shipping & taxes calculated at checkout</p>
        </div>
      </div>
      <div class="div__checkout-btns">
        <button id="button__cart-checkout">Checkout</button>
        <button id="button__clear-cart">Clear Cart</button>
      </div>
      <p id="cart-error-signin" hidden>Please <a href="/login">sign in</a> to checkout.</p>
      <p id="cart-error-message" hidden>This is an error message to display!</p>
    </article>
  </section>
  <article class="acticle__thank-you">
    <h1 id="h1__thank-you">Thanks for your purchase!</h1>
    <h5 id="h5__confirm-msg">Confirmation number:</h5>
    <h3>Your products will be shipped shortly</h3>
    <h5>Spread the word and tell you friends about us!</h3>
    <button id="btn__thank-you">Ok</button>
  </article>
</div>

  <%- include('../footer') %>
</body>
</html>