<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/slideshow.css">
  <script src="https://kit.fontawesome.com/557a3bdbd9.js"></script>
  <script src="/scripts/app.js" defer></script>
  <title>Farm to table</title>
</head>

<body>
  <%- include('../header') %>

  <!-- placeholder content -->
  <div class="content">
    <h1>This is the Farm-2-table homepage</h1>
  </div>

  <!-- image slideshow? -->
  <!-- Slideshow container -->
  <div class="slideshow-container">
    <!-- Full-width images with number and caption text -->
    <!-- image 1 -->
     <!-- TODO: create opaque background for text? -->
    <div class="slide fade">
      <img src="https://picsum.photos/1200/600" style="width:100%">
      <div class="text">Description here
        <button class="more">Learn more</button>
      </div>
    </div>

    <!-- image 2 -->
    <div class="slide fade">
      <img src="https://picsum.photos/1200/600" style="width:100%">
      <div class="text">Description here
        <button class="more">Learn more</button>
      </div>
    </div>

    <!-- image 3 -->
    <div class="slide fade">
      <img src="https://picsum.photos/1200/600" style="width:100%">
      <div class="text">Description here
        <button class="more">Learn more</button>
      </div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>

  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>

  <%- include('../footer') %>
</body>

</html>