<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Farm to table</title>
</head>
<body>
  <h1>This is the Farm-2-table homepage</h1>
</body>
</html>