<%- include('../head') %>
<link rel="stylesheet" href="/styles/sub-form.css">
<title>Thank you for subscribing!</title>
</head>

<body>
  <%- include('../header') %>

  <div class="content">
    <div>
      <h2>Thank you for subscribing!</h2>
      <p>You will receive a confirmation email shortly.</p>
    </div>
    <img class="post-sub-img"
      src="https://images.squarespace-cdn.com/content/v1/510f1c6fe4b0b75977456952/1412193851798-XZF2XUYK18KD3B6YX9GB/ke17ZwdGBToddI8pDm48kCu4snZLAjmtJVNDY7M6eVhZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIWjB5oZoL28wpBtvPO_g1O37Qpv0FumyQIjM1nFKWW4oKMshLAGzx4R3EDFOm1kBS/johnsonsbackyardgardenXian"
      alt="subscribe">
  </div>

  <%- include('../footer') %>
</body>

</html>