
  <link rel="stylesheet" href="/styles/sub-form.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
  <script src="/scripts/cartLabel.js" defer></script>
  <script src="/scripts/signout.js" defer></script>
  <title>Subscribe</title>
</head>

<body>
  <%- include('../header') %>
  <h1>Subscribe to our newsletter</h1>

  <div class="container">
    <form action="/" method="POST">
      <p>Sign up to receive farm and product updates!</p>
      <label for="name">Name :</label>
      <input type="text" placeholder="Name" required>
      <br>
      <label for="email">Email :</label>
      <input type="text" placeholder="example@email.com" required>
      <br>
      <button type="submit">Subscribe</button>
    </form>
    <img class="sub-img"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGI5HjdPkeIu3LCfh5IB5jhM-lVhZefVHh5XJlHaFMZ5LY8cXjpg&s"
      alt="subscribe">
  </div>



  <%- include('../footer') %>
</body>

</html>