* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #CCEDD2;
  color: #1f1f1f;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  position: relative;
  min-height: 100vh;
  padding-bottom: 70px;
}

header {
  background-color: #655C56;
  color: #EFFCEF;
  padding: 15px;
  text-align: right;
  width: 100%;
}

header a,footer a {
  color: #EFFCEF;
  text-decoration: none;
  padding-right: 5px;
}

a {
  color: #655C56;
}

footer {
  bottom: 0;
  background-color: #655C56;
  color: #EFFCEF;
  padding: 15px;
  font-size: 15px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 3.5rem;
}

.content {
  width: 80vw;
  text-align: center;
  margin: 0 auto;
}

.logo {
  float: left;
}

button {
  border-style: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #655C56;
  color: #EFFCEF;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  background-color: #EFFCEF;
  color: #655c56;
}

label {
  margin: 10px;
  display: inline-block;
  text-align: right;
  width: 100px;
}

.display {
  display: inline-block;
  text-align: left;
  width: 100px;
}

.explain i {
  font-size: 48px;
  color: #655C56;
}

.nav {
  border-right: 2px solid #EFFCEF;
  display: inline-block;
}

h1 {
  border-bottom: 5px solid #655C56;
  width: 900px;
  margin: 0 auto;
  padding: 5px;
}