.product {
  height: 245px;
  position: relative;
  border-radius: 2px;
  width: 300px;
  margin: 10px;
  opacity: 0.8;
}

.product:hover{
  opacity: 1;
}

.product-desc {
  color: white;
  background: #655C56;
  text-align: left;
  height: 45px;
  border-radius: 0 0 5px 5px;
  padding: 5px;
}

.price {
  float: right;
}

.product-img {
  width: 300px;
  height: 200px;
  border-radius: 5px 5px 0 0;
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 10px;
  justify-content: flex-start;
  width: 1000px;
  flex-wrap: wrap;
}

.show-container {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 30px 30px 30px;
  justify-content: space-around;
  align-items: center;
  width: 900px;
  height: 500px;
  background-color: #94D3AC;
  border-radius: 10px;
}

.photo {
  position: relative;
  width: 400px;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding-left: 20px;
}

button {
  font-size: 20px;
  padding: 8px;
  width: 250px;
  align-self: center;
  margin-top: 15px;
}

.content h2 {
  padding: 10px;
  font-size: 36px;
  text-align: left;
  color: #655C56;
}

.content .price {
  text-align: left;
  font-size: 24px;
  padding: 10px;
}

.description {
  text-align: justify;
  padding: 10px;
}

.content p {
  text-align: left;
  padding-left: 10px;
}

.about-img {
 width: 450px;
}

.about-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  text-align: justify;
  padding-left: 15px;
}

.about-container p {
  padding-top: 10px; 
}

hr {
  background-color: #655C56;
  height: 8px;
  border: none;
}

small {
  padding-top: 10px;
  text-align: left;
}

h3 {
  padding-bottom: 5px;
}