
input {
  padding: 8px;
}

form {
  margin-top: 15px;
  background-color: #94D3AC;
  padding: 0 15px;
  border-radius: 10px;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #655C56;
  color: #EFFCEF;
  padding: 10px;
  margin: 10px;
}

th {
  text-align: left;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  background-color: #94D3AC;
  margin: -20px;
}

.sub-img {
  width: 350px;
  padding: 10px;
  border-radius: 10px;
}

.content {
  margin-top: 15px;
  padding: 25px;
  background-color: #94D3AC;
}

.content p {
  margin-bottom: 20px;
}

.post-sub-img {
  width: 500px;
  border-radius: 10px;
}

.login-fail {
  color: firebrick;
  margin-bottom: 5px;
}