<header>
    <div class="header__logo">
        <p>Farm</p>
        <p>~ 2 ~</p>
        <p>Table</p>
    </div>
    <i class="fas fa-tractor fa-lg"></i> 
    <div class="header__title">
        <h3>Administration</h3>
    </div>
</header>