<aside>
    <p class="nav-logo">Farm</p>
    <p class="nav-logo">~ 2 ~</p>
    <p class="nav-logo logo-last">Table</p>
    <nav class="row">
        <ul>
            <li><a href="/">View Shop</a></li>
            <li><a href="/admin">Admin Home</a></li>
            <li>Product Admin</li>
            <li>
                <ul class="li-sub-1">
                    <li><a href="/admin/product">Home</a></li>
                    <li><a href="/admin/product/new">New Product</a></li>
                </ul>
            </li>
            <li>Customer Admin</li>
            <li>
                <ul class="li-sub-1">
                    <li><a href="/admin/cust">Home</a></li>
                    <li><a href="/admin/cust/new">New Customer</a></li>
                    <li>Invoices</li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>