<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Administration</title>
</head>
<body>
    <h1>Product Administration Page</h1>
    <a href="/admin">Home</a>
    <a href="/admin/product/new">New Product</a>
    <br>
    <% products.forEach((product) => { %> 
        <%= product.name %>&nbsp|&nbsp <%= product.description %>&nbsp|&nbsp <%= product.price %>&nbsp|&nbsp 
        <br>
    <% }) %> 
</body>
</html>