<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/adminHead') %>
    <script src="/scripts/prodAdmin.js" defer></script>
    <title>Product Administration</title>
</head>
<body>
    <%- include('../partials/adminHeader') %>
    <%- include('../partials/adminNav') %>
    <form action="/admin/product" method="POST">
        <article class="body__article-prod-details black-text-shadow">
            <div class="prod-img">
                <label class="prod-labels" for="img">Product Image</label>
                <div id="prod-img"></div>
                <input type="text" name="img" placeholder="img url" id="prod-url">
            </div>
            <table class="table__prod-details text-align-left">
                <tr>
                    <td class="td_small-width">Name:</td>
                    <td class="td__input-text">
                        <input id="input__prod-name" type="text" name="name" placeholder="Product Name" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea class="td__textarea" name="description" cols="30" rows="5" placeholder="description" required></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea class="td__textarea" name="growthNotes" cols="30" rows="5" placeholder="growth notes"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="td_small-width">Price:</td>
                    <td>
                        <input id="input__prod-price" type="text" name="price" placeholder="000.00">
                    </td>
                </tr>
                <tr>
                    <td class="td_small-width">Born On:</td>
                    <td>
                        <input class="date-picker" type="date" name="birthDate">
                    </td>
                </tr>
                <tr>
                    <td class="td_small-width">Ready On:</td>
                    <td>
                        <input class="date-picker" type="date" name="readyDate">
                    </td>
                </tr>
                <tr>
                    <td class="td_small-width">Available:</td>
                    <td class="display-inline">
                        <input class="available-chkbx" type="radio" name="available" value="true"><p class="chkbx-text">Yes</p>
                        <input class="available-chkbx" type="radio" name="available" value="false" checked><p class="chkbx-text" >No</p>
                        <input type="hidden" name="farmID">
                    </td>
                </tr>
                <tr class="text-align-right">
                    <td colspan="2">
                        <button class="btn-lrg" type="submit">Create Product</button>
                    </td>
                </tr>
            </table>
        </article>
    </form>
    <%- include('../partials/adminFooter') %>
</body>
</html>