<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/adminHead') %>
    <title>Product Show Page</title>
</head>
<body>
    <div class="header">
        <h1>Product Show Page</h1>
    </div>
    <%- include('../partials/adminNav') %>
    <section class="display-data">
        <div class="upload-img">
            <input type="text" name="name" placeholder="Product Name" id="prod-name" required>
            <div class="prod-img">
                <img src="" alt="upload pic">
            </div>
            <input type="text" name="img" placeholder="img url" id="prod-url">
        </div>
        <div class="prod-details">

        </div>
    </section>
    <footer>

    </footer>
</body>
</html>