<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/adminHead') %>
    <title>Product Show Page</title>
</head>
<body>
    <div class="header">
        <h1>Product Show Page</h1>
    </div>
    <%- include('../partials/adminNav') %>
    <section class="display-data">
        <div class="upload-img">
            <input type="text" name="name" placeholder="Product Name" id="prod-name" required>
            <div class="prod-img">
                <img src="" alt="upload pic">
            </div>
            <input type="text" name="img" placeholder="img url" id="prod-url">
        </div>
        <div class="prod-details">
            <label for="description">Product Description</label>
            <textarea name="description" cols="30" rows="5" required></textarea>
            <label for="growthhNotes">Growth Notes</label>
            <textarea name="growthNotes" cols="30" rows="5"></textarea>
            <div class="row">
                <label id="birthdate-label" for="birthDate">Birth Date:</label>
                <input class="date-picker" type="date" name="birthDate">
                <label id="readydate-label" for="readyDate">Ready Date:</label>
                <input class="date-picker" type="date" name="readyDate">
            </div>
            <div class="row">
                <label for="price">Price:</label>
                <input type="text" name="price">
                <label for="available">Available:</label>
                <input type="checkbox" name="available">Yes
                <input type="checkbox">No

            </div>
        </div>
    </section>
    <footer>

    </footer>
</body>
</html>